{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <h1>{% trans "Welcome to Pinax" %}</h1>
    
    <p>
        {% blocktrans %}
        <b>Pinax</b> is a <a href="http://djangoproject.com/">Django</a>
        project intended to provide a starting point for websites. By
        integrating numerous reusable Django apps to take care of the
        things that many sites have in common, it lets you focus on what
        makes your site different.
        {% endblocktrans %}
    </p>
    
    <p>
        {% blocktrans %}
        For more information about Pinax, see
        <a href="http://pinaxproject.com/">http://pinaxproject.com/</a>.
        {% endblocktrans %}
    </p>
    
    
    <hr />
    
    <p>You can use the code provided with your badge to sign-up with the site right now.</p>
    
    <form method="GET" action="{% url acct_signup %}">
        code :<input type="text" name="code" />
        badge: <input type="text" name="badge" label="badge"/>
        <input type="submit" value="Sign up" />
    </form>
 {% block aside %}
{% endblock %}
    
{% endblock %}
