{% extends "site_base.html" %}

{% load i18n %}
{% load openid_tags %}
{% load ifsetting_tag %}

{% block content %}

<div id="content"> 
  <h2>My Profile</h2> 
  <p> 
    <img src="" style="width:150px; height:150px; background-color:#900; float:left; margin:7px;" /> 
  </p> 
  <h2>{{ handle }}</h2> 
  <p> 
    <b>Age: {{ age }}</b><br /> 
    <b>Gender: </b>{{ gender }}<br /> 
    <b>Hometown: </b>{{ hometown }}<br /> 
  </p> 
  <div style="width:550px; height:220px;"> 
    <div style="width:250; float:left;"> 
      <b>Interests:</b><br /> 
      <br /> 
      New Tech <br /> 
      Activism <br /> 
      Radio <br /> 
      Lockpicking<br /> 
      Crypto<br /> 
      Privacy <br /> 
      Ethics <br /> 
      Telephones <br /> 
      Social Engineering <br /> 
    </div> 
    <div style="width:250px; float:right;"> 
      My Talks:<br /> 
      talk 1 (time: 13:00) <br /> 
      talk 2 (time: 14:00) <br /> 
      talk 3 (time: 15:00) <br /> 
      talk 4 (time: 16:00) <br /> 
      talk 5 (time: 17:00) <br /> 
      talk 6 (time: 13:00) <br /> 
      talk 7 (time: 13:00) <br /> 
      talk 8 (time: 13:00) <br /> 
    </div>
  </div> 
</div> 
 
{% endblock %}

{% block aside %}
  {{ block.super }}
{% endblock %}
