{% extends "site_base.html" %}

{% load i18n %}
{% load openid_tags %}
{% load ifsetting_tag %}
 
{% block content %}

<div id="content"> 
  <h2>Profile Settings</h2> 
 
  <p> 
    <B>Your Handle:</B> <input type="text" size="50" value="{{ handle }}" maxlength="25" name="handle" /> 
    <Br /><Br /> 
    <b>Choose Userpic:</b> <input type="file" /><br /><Br /> 
    <b>Gender:</b> <input type="radio" name="gender" value="male" /> Male <input type="radio" name="gender" value="female" /> Female <input type="radio" name="gender" value="other" /> Other<br /><br /> 
    <b>Age:</b> <input type="text" size="10" maxlength="2" name="age" value="{{ age }}"/><br /><Br /> 
    <B>Home Location: </B><input type="text" size="50" name="homeloc" value="{{ homeloc }}"/><br /><Br /> 
    <b>Interests:</b><Br /> 
    <div style="width:425px; height:220px;"> 
      <div style="width:210; float:left;"> 
 
	<input type="checkbox" name=""  /> New Tech <br /> 
	<input type="checkbox" name=""  /> Activism <br /> 
	<input type="checkbox" name=""  /> Radio <br /> 
	<input type="checkbox" name=""  /> Lockpicking<br /> 
	<input type="checkbox" name=""  /> Crypto<br /> 
	<input type="checkbox" name=""  /> Privacy <br /> 
	<input type="checkbox" name=""  /> Ethics <br /> 
	<input type="checkbox" name=""  /> Telephones <br /> 
	<input type="checkbox" name=""  /> Social Engineering <br /> 
	<input type="checkbox" name=""  /> Hackerspaces <br /> 
	<input type="checkbox" name=""  /> Hardware Hacking<br /> 
      </div> 
      <div style="width:210px; float:right;"> 
	<input type="checkbox" name=""  /> Nostalgia <br /> 
	<input type="checkbox" name=""  /> Communities <br /> 
	<input type="checkbox" name=""  /> Science <br /> 
	<input type="checkbox" name=""  /> Government <br /> 
	<input type="checkbox" name=""  /> Network Security<br /> 
	<input type="checkbox" name=""  /> Malicious Software <br /> 
	<input type="checkbox" name=""  /> Pen Testing<br /> 
	<input type="checkbox" name=""  /> Web <br /> 
	<input type="checkbox" name=""  /> Niche Hacks<br /> 
	<input type="checkbox" name=""  /> Media <br /> 
      </div>
    </div>
    <Br /><br /> 
    <input type="submit" value="Save Profile" /> 
  </p> 
  
</div> 
 
{% endblock %}

{% block aside %}
  {{ block.super %}
{% endblock %}
