{% load i18n %}
{% load openid_tags %}
{% load ifsetting_tag %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL  }}css/amd.css" /> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL  }}js/jquery-1.4.2.min.js" /> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL  }}js/jbug.js" /> 

<div id="container"> 
{% block login %}
    {% if user.is_authenticated %}
        <b>{{ user }}</b> | <a href="{% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
    {% endif %}
{% endblock %}

{% block headers %}
<div id="header"> 
  <a href="{% url home %}">
    <img src="{{ STATIC_URL }}images/openamd_black.png" style="float:left;"/>
  </a>
    <img src="{{ STATIC_URL }}images/tnh_temp_logo2.png" style="float:right;" /> 
</div> 
{% endblock %}

{% block navigation %}
<div id="navigation"> 
{% if user.is_authenticated %}
  <ul> 
    <li><a href="/">Home</a></li> 
    <li><a href="/messages">Inbox</a></li>
    <li><a href="/profiles/friends/{{ user.username }}">Friends</a></li> 
    <li><a href="/profiles/profile/{{ user.username }}">Profile</a></li> 
    <li><a href="#">Games</a></li> 
    <li><a href="/notices">Notifications</a></li> 
    <li><a href="#">Stats</a></li> 
    <li><a href="/settings">Settings</a></li> 
  </ul>
{% else %}
  <ul> 
    <li><a href="/">Home</a></li> 
  </ul>
{% endif %} 
</div> 
{% endblock %}

<div id="content-container"> 
{% block content %}
  <div id="content"> 
{% block body %}
{% endblock %}
  </div> 
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
<div id="footer">
    {% trans "&copy; 2010 &lt;OpenAMD&gt;" %}
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    - <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a>
</div>
{% endblock %}

</div>

</body>
</html>
