{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}
    {% trans "<p><b>Terms of Service</b></p>" %}

These Terms of Service ("Terms") govern your access to and use of the services, websites, and applications offered by OpenAMD (the "Service"). Your access to and use of the Service is conditioned on your  acceptance of and compliance with these Terms. By accessing or using the Service you agree to be bound by these Terms.

<b>Use of the Service</b>

You may use the Service only if you can form a binding contract with OpenAMD, and only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations. You must provide us accurate information, including your real name, when you create your account on OpenAMD.
<p>
We may, without prior notice, change the Service; stop providing the Service or features of the Service, to you or to users generally; or create usage limits for the Service.
<p>
You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password. We encourage you to use "strong" passwords (that use a combination of upper and lower case letters, numbers and symbols) with your account. OpenAMD will not be liable for any loss or damage arising from your failure to comply with these requirements.
<p>
<b>User Content</b>
<p>
"Content" means any information, text, graphics, or other materials uploaded, downloaded or appearing on the Service. You retain ownership of all Content you submit, post, display, or otherwise make available on the Service.


{% endblock %}
